server:
  port: 8180
  servlet:
    jsp:
      init-parameters:
        development: true
  error:
    include-exception: false
    include-stacktrace: never # 오류 응답에 stacktrace 내용을 포함할 지 여부
    path: '/error' # 오류 응답을 처리할 Handler의 경로
    whitelabel:
      enabled: true # 서버 오류 발생시 브라우저에 보여줄 기본 페이지 생성 여부


spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/mydb?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
    username: root
    password: sofotla28*H
    driver-class-name: com.mysql.jdbc.Driver
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  redis:
    host: localhost
    port: 6379



  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format-sql: false
        show-sql: false
        dialect: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true

logging:
  level:
    org.hibernate.SQL: info